h1 {
    color: red;
}

table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}

td div, th div{
    page-break-inside: avoid;
}

tr {
  page-break-inside: avoid; 
}

div#notebook-container {
    padding: 6ex 2ex 8ex 2ex;
}